.carousel-inner {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-form input[type='submit'] {
    width: 5%;
    height: 41px;
    outline: none;
    border: 1px solid #fff;
    background: url(../images/can.png) no-repeat 6px 7px #27c2ec;
    display: inline-block;
}

input[type=submit] {
    -webkit-appearance: button;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.col-sm{
	margin-top: 40px;
	margin-bottom: 40px;
}
.card-text{
	color: black; 
	text-align: center;
}
.Our-Services{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
}
.card{
	height: 300px;
}
.card-img-top{
	height: 200px;
}
#foot{
	padding-top: 40px;
}

input.txtpname{
	width: 250px;
	background: transparent;
	border-color: black;
	border-radius: 4px;
}
#c_s_change{
	height: 30px;
	background: transparent;
	border-color: black;
	border-radius: 4px;
}
#submit{
	height: 30px;
	border-color: black;
	border-radius: 4px;
}
#login{
	border-color: white;
	border-radius: 4px;
}
#logo{
	height: 35px;
	width: 35px;
}
